<app-header></app-header>
<div
  class="mx-auto grid gap-3 grid-cols-1 min-[340px]:grid-cols-2 min-[570px]:grid-cols-3 min-[820px]:grid-cols-4 max-w-[1200px]"
>
  <app-menu-item
    [imageSrc]="'../../../assets/images/books.svg'"
    [route]="'/books'"
    [title]="'Books List'"
  ></app-menu-item>
  <app-menu-item
    [imageSrc]="'../../../assets/images/issue.svg'"
    [route]="'/issue-history'"
    [title]="'Issue History'"
  ></app-menu-item>
  <app-menu-item
    [imageSrc]="'../../../assets/images/return.svg'"
    [route]="'/return-history'"
    [title]="'Return History'"
  ></app-menu-item>
  <app-menu-item
    [imageSrc]="'../../../assets/images/users.svg'"
    [route]="'/users'"
    [title]="'Users'"
  ></app-menu-item>
  <app-menu-item
    [imageSrc]="'../../../assets/images/authors.svg'"
    [route]="'/authors'"
    [title]="'Authors'"
  ></app-menu-item>
  <app-menu-item
    [imageSrc]="'../../../assets/images/categories.svg'"
    [route]="'/categories'"
    [title]="'Categories'"
  ></app-menu-item>
</div>