<div *ngIf="updatedBook" class="relative">
  <button
    mat-icon-button
    color="primary"
    class="relative float-right m-2"
    tabindex="-1"
    style="z-index: 999"
    (click)="closeDialog()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-dialog-content class="absolute w-full">
    <header class="font-normal mb-2">Book Details</header>
    <div class="flex flex-col m-0">
      <div class="flex justify-between items-center">
        <img class="max-h-44" src="../../../assets/images/book.svg" alt="" />
        <div class="flex flex-col items-center grow pl-5 mt-1">
          <mat-form-field class="w-full">
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Title"
              type="text"
              [value]="updatedBook?.title || ''"
              (input)="bookDetailChange($event, 'title')"
            />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Author</mat-label>
            <input
              id="author"
              matInput
              placeholder="Author"
              type="text"
              [value]="updatedBook?.author || ''"
              (input)="bookDetailChange($event, 'author')"
            />
          </mat-form-field>
          <div class="w-full flex">
            <mat-form-field class="grow">
              <mat-label>{{ updatedBook.issueStatus }}</mat-label>
              <mat-select
                #issueStatusSelection
                (selectionChange)="issueStatusChange($event)"
              >
                <mat-option
                  *ngIf="updatedBook.issueStatus === 'Available'"
                  value="Issue"
                >
                  Issue
                </mat-option>
                <mat-option
                  *ngIf="updatedBook.issueStatus === 'Unavailable'"
                  value="Return"
                >
                  Return
                </mat-option>
                <mat-option *ngIf="issueStatusSelection.value !== 'Clear'">
                  Clear
                </mat-option>
              </mat-select> </mat-form-field
            ><button
              mat-fab
              color="primary"
              class="ml-3"
              (click)="saveBookChanges()"
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="flex items-baseline">
        <mat-form-field class="w-full">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Description..."
            style="resize: none"
            [value]="updatedBook.description || ''"
            (input)="bookDetailChange($event, 'description')"
          ></textarea>
        </mat-form-field>
        <button mat-fab color="warn" class="ml-3" (click)="deleteBook()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>
