@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #d6eeff;
}

.mdc-dialog__surface {
  overflow-y: hidden !important;
}